<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script>
      onSubmit = () => {
        const text = document.getElementById('SearchBarText').value;
        window.api.changeIframe(text);
      };
    </script>
    <script>
      document.addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
          event.preventDefault();
          document.getElementById('SearchBarButton').click();
        }
      });
    </script>
    <title>Naver Korean Dictionary</title>
  </head>
  <body>
    <div class="container">
      <div id="search-container">
          <div style="width: 100%; margin-right: 10px">
            <input type="text" name="Search" id="SearchBarText" />
          </div>
          <div>
              <button type="submit" onclick="onSubmit()" id="SearchBarButton">
              </button>
          </div>
      </div>
      <div id="iframe-container">
        <iframe
          src="about:blank"
          id="my-iframe"
        >
        </iframe>
      </div>
    </div>
  </body>
</html>
